@using ProjectGrowthPath.Application.Service
@using System.ComponentModel.DataAnnotations
@using System.Net
@using Humanizer
@using ProjectGrowthPath.Application.Interfaces
@using ProjectGrowthPath.Application.State
@using ProjectGrowthPath.Domain.Entities
@using MudBlazor


@inject IFirstTimeSetupService SetupService
@inject SetupStateStore StateStorage


<h3>Maken van een leerdoel</h3>
@if (IsLoading)
{
    <MudProgressCircular Indeterminate="true" />
}
else
{
    <MudText Typo="Typo.h5" Class="mt-4 mb-2">Skills</MudText>
    <MudGrid>
        @foreach (var skill in _skills.Values)
        {
            <MudItem xs="12" sm="6" md="4">
                <MudPaper Elevation="4" Class="pa-4" Style="@GetPaperStyle(skill)" @onclick="() => SelectCompetence(skill)">
                    <MudText Typo="Typo.h6">@skill.Name</MudText>
                </MudPaper>
            </MudItem>
        }
    </MudGrid>

    <MudText Typo="Typo.h5" Class="mt-6 mb-2"></MudText>
    <MudGrid>
        @foreach (var interest in _interests.Values)
        {
            <MudItem xs="12" sm="6" md="4">
                <MudPaper Elevation="4" Class="pa-4" Style="@GetPaperStyle(interest)" @onclick="() => SelectCompetence(interest)">
                    <MudText Typo="Typo.h6">@interest.Name</MudText>
                </MudPaper>
            </MudItem>
        }
    </MudGrid>

    <MudDatePicker @ref="_picker" Label="Selecteer een datum" Date="_date" DateChanged="SelectDate" AutoClose="@_autoClose">
        <PickerActions>
            <MudButton Class="mr-auto align-self-start" OnClick="@(() => _picker.ClearAsync())">Verwijderen</MudButton>
            <MudButton OnClick="@(() => _picker.CloseAsync(false))">Annuleren</MudButton>
            <MudButton Color="Color.Primary" OnClick="@(() => _picker.CloseAsync())">Selecteren</MudButton>
        </PickerActions>
    </MudDatePicker>

}
<div class="mt-4">
    <button class="btn btn-outline-secondary me-2" @onclick="() => OnBack.InvokeAsync()">Terug</button>
    <button class="btn btn-success" @onclick="() => OnNext.InvokeAsync()" disabled="@(!CanProceed)">Volgende</button>
</div>

@code {
    [Parameter] public EventCallback OnNext { get; set; }
    [Parameter] public EventCallback OnBack { get; set; }
    private bool IsLoading = true;
    private bool CanProceed = false;

    // Competenties die zijn geselecteerd door de gebruiker
    private Competence? SelectedCompetence;
    private Dictionary<int, Competence> _skills = new();
    private Dictionary<int, Competence> _interests = new();

    // De datum die is geselecteerd door de gebruiker
    private MudDatePicker _picker;
    private DateTime? _date = DateTime.Today;
    private bool _autoClose;

    protected override async Task OnInitializedAsync()
    {
        await StateStorage.LoadAsync();

        if (StateStorage.CurrentState.ChosenCompetence != null)
        {
            SelectedCompetence = StateStorage.CurrentState.ChosenCompetence;
            CanProceed = true;
        }

        _skills = StateStorage.CurrentState.SelectedSkills;
        _interests = StateStorage.CurrentState.SelectedInterests;

        if (StateStorage.CurrentState.TargetDate != null)
        {
            _date = StateStorage.CurrentState.TargetDate;
        }
        else
        {
            _date = DateTime.Today;
        }

        IsLoading = false;
        await InvokeAsync(StateHasChanged);
    }

    private string GetPaperStyle(Competence competence)
    {
        var border = SelectedCompetence?.CompetenceID == competence.CompetenceID ? "2px solid green" : "1px solid lightgray";
        return $"cursor: pointer; border: {border}; padding: 16px;";
    }

    private async Task SelectCompetence(Competence competence)
    {
        await SetupService.SetGoalCompetenceAsync(competence);
        SelectedCompetence = competence;
        CanProceed = SelectedCompetence != null;
    }

    private async Task SelectDate(DateTime? date)
    {
        if (date.HasValue)
        {
            _date = date;
            await SetupService.SetTargetDateAsync(date.Value);
        }
    }
}
